@media @import {
    http: //code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css
}

* {
    padding: 0%;
    margin: 0%;
}

main {
    width: 100vw;
    height: 100vh;
    background-position: center;
}

.nav {
    width: 100vw;
    height: 60px;
    display: flex;
}

.nav>.logo {
    width: 150px;
    height: 100%;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    color: rgb(113, 155, 211);
    justify-content: center;
}

.list {
    width: 75vw;
    height: 60px;
    position: absolute;
    right: 50px;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
}

ul>li {
    color: rgb(113, 155, 211);
    cursor: pointer;
    padding-top: 20px;
    justify-items: center;
    flex-basis: 100px;
    text-align: center;
}

.search {
    z-index: 5;
    width: 500px;
    padding-top: 20px;
    display: inline-block;
    padding-left: 300px;
}

.srch {
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    border-left: none;
    height: 20px;
    width: 60%;
    border-right: none;
    outline: none;
    color: white;
}

.btnSearch {
    font-weight: bold;
    background-color: rgba(85, 165, 176, 0.5);
    border: 3px solid rgba(63, 142, 173, 0.5);
}

h1 {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.disc {
    margin-top: 20px;
    color: white;
    font-size: 35px;
    text-align: center;
    background-color: white;
    height: 55px;
    color: black;
}

.disc::after {
    content: "";
    position: absolute;
    left: 455px;
    height: 55px;
    width: 520px;
    background-color: white;
    animation: typing 10s infinite;
}

@keyframes typing {
    100% {
        left: 68%;
        width: 0%;
        border: none;
    }
}

.cards {
    display: flex;
    padding-left: 70px;
}

.card1 {
    padding: 10px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    width: 250px;
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: row;
    transition: 0.8s ease;
}

.data {
    font-size: 17px;
    opacity: 0;
    transition: 0.5s ease;
}

.card1:hover {
    height: 300px;
}

.card1:hover .data {
    opacity: 1;
}

li {
    transition: 0.8 ease;
}

li:hover {
    background-color: aqua;
    color: black;
    transform: translateY(10px);
}

.btnSearch:hover {
    background-color: aqua;
    color: black;
}